@import "~react-virtualized/styles";

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Roboto", "Microsoft YaHei", "Meiryo", sans-serif;
  overflow-y: scroll;
  padding-top: 50px;
}
.koromo body {
  background-image: url(../assets/img/koromo.jpg);
}
.achiga body {
  background-image: url(../assets/img/achiga.jpg);
}
.yuuki body {
  background-image: url(../assets/img/yuuki.jpg);
}
#root {
  overflow: hidden;
}
.text-right {
  text-align: right;
}
.ReactVirtualized__Table__row.even {
  background-color: rgba(0, 0, 0, 0.05);
}
.ReactVirtualized__Table__headerRow,
.ReactVirtualized__Table__row {
  border-top: 1px solid #dee2e6;
}
.ReactVirtualized__Table__headerRow span {
  display: block;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
.ReactVirtualized__Table__row.loading {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
}
.ReactVirtualized__Table__row.loading:nth-of-type(odd) {
  animation-delay: -0.75s;
}
svg.recharts-surface {
  overflow: visible;
}
.recharts-label {
  pointer-events: none;
}
.recharts-pie-label-text {
  font-weight: bold;
  transform: translateY(5px);
}
.recharts-tooltip-wrapper {
  z-index: 1;
}
