body {
  background: url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/4QMZaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjMtYzAxMSA2Ni4xNDU2NjEsIDIwMTIvMDIvMDYtMTQ6NTY6MjcgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjQ2NUQ4MzQ3QzZFNzExRTlBREZCQjk0NEUyQUI3MTA1IiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjQ2NUQ4MzQ2QzZFNzExRTlBREZCQjk0NEUyQUI3MTA1IiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDUzYgV2luZG93cyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSIyRTAzM0NEMDI1Mjg1REUyNTczRjRCRjc4ODkzQjFBRiIgc3RSZWY6ZG9jdW1lbnRJRD0iMkUwMzNDRDAyNTI4NURFMjU3M0Y0QkY3ODg5M0IxQUYiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCADIAWYDAREAAhEBAxEB/8QAgAAAAwEBAQEBAAAAAAAAAAAAAAIDAQQFBggBAQEBAQEAAAAAAAAAAAAAAAABAgMEEAACAQICCAQEBQMEAwAAAAAAAQIRAzEyIUFRYXGBEgSRsSIzocFCE/DRUiMFYnJD4YI0FZLSFBEBAQEBAQEBAAAAAAAAAAAAAAERAhJBMf/aAAwDAQACEQMRAD8A/TpkAEr93p9Mcz17A1zNcwdpGAAGgAGAABVACaA0Fp4xppeJXHrrTwh1TUduJLWXekloRlWS0tLViwCOn1PX5agGIMboq7ChaOiWuWl+YU4AAAK5KtK4kGOUXKKrvA3riDGfcQMb9yIMZKcW0tr/ANQYVyX3o7ov4lBauVjpxT+AD9aIYOuIMbVbQBOtdwA1VNPWUZBtxVccGAwAABAAsMHH9LoAwARUDbKd24oR2t4ILJrkbdavS3iw7SYwK0AAwDHNIJpXN6gaxybCawIeEaaQ1+LRjreIcuutMVh0dpH1Sls0LmZrUdJkTxT/AKnRcEUUAAFnppHb5IAWmbezQgocsdxAruPUFwrkwFT0t8gFUqzlsVEMDVAKgFQMr6uQGKvXXbVIvwEXTpe3QxYHqQZUDagEZNS4ryArGVQha0k1vr4gOnVAaEBQALhcf9S8gGIAKhJqKbeCNsuKc3OXU+SDtzMKGmAY5JA0rm9QZ1jbYNYEAAA0UqVeAVa2qrq8A59dacrACu2xHptR2vS+ZirDSdFoxejxAEvVuiqIKYiAKiprqnPUvSuCKNUmrarmlpfMgVyCsqBlQMi6R+JRkU0mnjV1FGhRUAAxP1vdQIo1+3B7amqhvtqVlbaVXIYJ1MqKhRUIxvSmQOpUYDTa6k9q8gjYyoyKoaZAAAss0Xvp4kUwQBXB3Nyr6FgseJtrjlAOhXJIJpHJsJrAgAAAAAZJJVeAUk59T3Bi102ciDCgQJVaW3QFehSmhYIzVK9M0tmkAhhXbpCtboQTnN9LfgIJf41H9TKHlKr8iKWoGVKrJP08QGgqyjHayxKyuve/MUjKkUVA0DFre0qKzX7Nvl5FqRSz7USlQkumTWx6DNWMIoAyWV+IDVIjXLRHc/kBqZBWDqioYqABbmWuxp/EitEGgeTx8TbtJicpVwDNpQgAAAAAAN0JVlyQUkpOXDUGLdYVl12PbREqgRSwq3Yca+AV2GWkpt9E2sX6V5BFEqJJagpJurMiVx6F4+BqKxp0T/TT8fADahWAACvVxAtYXrb2LzNRmpLAiwBQAEGtU8F5FqRWf/HjuUSpDWfbXPzKVO+qTT2ryJViZlQBrwAyL9KAHq4oIcgeDowKhAELcyMqtRIjSjxpy1GnW0hUBAAAAAANGICXMQzaUIAjss+2glOEX7VVu12JhXS9ZlUnpUFtdWFPJ0RBJkUklXqepJLxZuBnkW+T+CHwKRQBgGfUuAHRYXpb2vyNRmoLBEaAAAPABripKm5eQqRV/wDH/wBq+BUFh+h7mIUdwvSnsfmKRAy0CgIMjs2MI2WAUwQyILRdYhGhGSyy4MsVkTMDGkeGadAFAQAAAA8Y6waehEQuZis0oQAdln20EqgR0dmvVJ7Egq93RFvcSxU2vWt1F8GQbN6aGaqbCj/Fxl5G/iMlkt82KsKRWBAVWfVyIOqyv24+PibZc3+pmqAoAJYMCl5fuchUikFWwltjT4GkJ27zLgyQql1Vty4V8NJaOYw0CgAyKo5b3UI2WV8CK1MIZEFLb1BFAgpVPgWBIPQuBlTlR4Zt0AAAACTb0AUjbS0vHYTUOQFAIXcxqM0gQFHbY9tESqBHT2f18gq1zTCm2nmKJ09Vd78qGVZIypGFD9qG9t+Z0+IJ5bf9v5EqwhFYEBVYszIOu2qW48EbZczxlxfmZqxgUAZLBgX7jNF7mWsw9n2olErOi41ua8GQdDVU1tKjj1GWgFABs31+DCB4EUQyrgEOiB4ujQFQjYmoicMsTH1TlR4Zt0AABVWLjj1tdMdVdYTWpKK0EGkAAAQu5jUZpAgKO2x7aIlUCOntMJ8UFXlguK8yhI4x39XmQM4ReoYus+1Enk1PpThBPCj8igcYPo6nRdP5CqSStrBtkVMigozXIiOyGSPBG2XLPPLizNajAoAx4MDov5Ivf5lrMFh+hrY2IUj9PccX5qgHQVHJLRKS3szWowKAGa/bg98hUhSKIZUEVjCuEkA8bW9DE1VRRcTW4FRCOC3HP60co8Q6Nnt2p3JdMFVkS132OyhDTP1S+CJrFpu69shHEGwgAAAhdzGozSBAB22PbQSqBHT2eE+KCrTdKcUNE4ydIcyaoc5bTOrhHOVHpY0xtzRbh+NRukZcyW3u+QpEzLTAgKrNbA64ZI8F5GmHPdX7suXkZrUKFAA8GB0TXVZ5JrkaZJ279Ulto0SFHcKjjL8aNIpFlp0lHNc0XJfjUZqwoUAPJfsQe/zqWswhlRDKgGRAyYFoN0CHizUqIPJLmYv6p/oruKOGz2Enpu+lfpWJvS9O2EIwj0xVEZZMBDu8gWOJhsIAAAIXMxqM0gQAdtj20Epwjp7R06+QVSbwe9eZlSrLB7PyYUrMqV4Moe77UeRupGS09vB7KfkBMy0wAAxZnwQHVb9qPBG2Ur6/c4pEqxMigAA6rem3HgjTKFv0XUtjcfyIq15Vtvdp8BUjLLrbW7R4FKle918EZqwgUAVmqWIbqFrKRlWQw5vzAcDUQWt4BDrEsRGWWXMzf1TV/b5FDFZAABDu8gWOINhAAABC5mNRmkCADtse2gigRftfq5fMlais8r3afAikft12P5gKyKV4MCtxV7fkn4G0JGFbE0m1StPMCTUtT8TKs/d/pfiUHVc/T8QF6p9WTVtA6bM7ztxpBbKtmkLejc6oym1rVEvzJSEMtAAKOizV2lR0xRplG/C7GSlVOu6mlEpFVO44p9Kaa1MqJ2bkoSlBwYUt6bdzJJaFs/MlWE6n+lkVrk3o6Xp0BF7zf216WlVY0LUiJlpkMOb8whwNRBW3rCHWJRF5JczNDf4q7ihzTIACCHd5AscQbAAAMCF3MajNIEAHbY9tBDkRftsZchVi70prboMqmk3bknr+ZVInVJkUMCtv1WUtqp8johO3+qL5+TJBKlNGzQRQFZ1L8JgY5KqenwYR0dtJODS1PzNIbuFW3XY0xSOcw0CgAv279LWx+ZYzTXY9UHTFaVyKEsXI9Li2qp6FuYhWXfRcjcWGDAy97nJGasTIprarcit9fDSWJVe4yLii1IgZaZHDm/MBgNREVtawUzfrS3MrKbyvmZVq9l8CihWQUAEO79sixxBsAAAwIXcxqM0gQAdtj20EpyIv22MuCFWLR18WRoTykoiFZLBlHTGlFRaDbLmv9vdlJ3I3nBJYJbAPMf8AId0n7jfGgwH/AGfc/q+CLho/7Luf1L/xRMNH/Ydy9HX8EMNer2f3/tqV1p9SrFp6nuAu0mmng8QE+xDeTF0fYhtYw0fYhvGGmjbjHDWUMEcPcLvLcpXLcYq2lpTo9C4gcj/kZNUlbg+CoMNav5GGitumrRL8xYSnX8hYeMZLwZMXT2/5Dt4z6n1YbP8AUshq77u3e6YxhPS1SXToBFv/AJ1tJi6jSja3vzMqANREUtYgp37keD+RUSWTxMq1ey+BUWKyAMKId37ZFji1hsAAAwIXcxqM0gQAdtj20EqgRbtsZciVYtHDm/MjTLmUlIkwrGUdFt1txe42he5dO3uP+l+QR87JaSxGdJUFBg1LSRX0Pa/8a1/aiKqAAAAAAAHN/Iy6e0nvoviB4TWkqMoXEFCDUtIV7/YtvtLddnzIq4HI8XxfmZrQIrSIpazAp37i4P5FRJZORlWr2n/aEWNMgAA5+7yBY4g2AAAAhdzGozSBAB22PbQSqAW7bGXIlItHKiNMuYEIkwrCi1h1g1sdPmaiVRpNUaqniio4P5Ht7NYuKSlrSN8xmuL7K2G/LOj7Edg8mslZSi3sJYsr2O1VO2tL+lHJtUAAAAAAAJ3+3hft9Em0q1qgPHn2vTKUa16XSp1nLFrP/nQ8prH248rrJWGk3sJeVlex2Kp2lrhU5tLgcawMNtA0Ie3mIU7z/wC1+ZUSXt8vkZVtfQ1/SEXNMgAA5+7yFWOMjbANAwCF3MajNIEAV22PbQZqgFu2xlyJVi8cqIpbmBCJMKwoftnpmt9fkaiVcqPMnD7fcztywk+qDZ04rPRvtnTXMfbGid2Dk42o5rjpy2mO63zHqRioxUVglRHJtoAAAAAAAR7u5dt2HO29Karw1iFciSklJOqemp6JXKj7Y1B9saJdwqW6LGTokZ7rXL1LcVC3GOxJHF0M8AOOOCMNtA0Ie3mIU8s0t0Sspf4+XyMtM/8AUqOk0yAAg5+7yBY4g2AAAAhdzGozSAAHbY9tBmqAX7b6uRmrFYZFwCsuYIlIkwpfqfBFD9tnlz8zUSugqJdx28L8KS0NaYyWKYHK7Xew0dMbq1STozftm8hQ72WFuMN8nXyF6PK/b9r9uTuTl13Xob1JbEZtakdBAAAAAAAABkoqUXFqqao0B5krd/tJvQ52Xg9hqdJYePddu1mpuaN+mPLJd3YWiNZPYkPR5P23b3bl5X7y6YxyQZzt1uR3kVksr4AciwRhtoGhD286IU0vr/t/MqJyyPgRWPFcGB0mmAAMCHd5CLHEG2AAABC7mNRmkACjtse2iMqAX7ZaJcjNWK28i4BWXMEQiTCk+p8ih+3zS5+ZqCzZQJgMgjQgAAAAAAAAAAAAASVizJ1lCLfBAEbNqDrGEYvakA1QoqDC3H+3LgwOZYvcYaaBoQ9vOQppZbnh8ColLK+BFDzR4MDpNMAAAh3WQixxMNsA0DAIXcxqM0gAUdtj20RlQDo7bK+PyM1YpbyLgFLc1EImwpFmkUV7ZZ+JqJVXEpoUdINMEAAAAAAAAAAAAAAAAYwpHUKEBl323vaRKOeOt72ZUwGhD28xCtlknx/IqJzysih5lzA6jTDAAgh3eQLHEw2wo0gwCF3MajNIEaUdlj20RFAOnt8j4masPDIuBFLcxQImFIsZcfkUV7b61vNRKuVAAAAAAAAAAAAAAAAAAAAGUCigNS7h0jFc/BEpEIr0oy0YDUA9rMRKJv8Ab4y+ZUJPKyKHmjzA6TTAACCHd5CrHEyNsA0DGBC5mNRmkCNA7LHtoIoB09v7fMzVh4ZURS3MQRMKRYy4/Ioft3S5JbfkaiV0lQAAAAAAAAAAAAAAAAAAAAAAHN3LrKmxebJWoQyrQNQD2s3IiUS9uG918ypE55fAiteaPMDpNMAAIId37ZVjhI2AAAYELmJqM0gRoHZY9tBFAOnt/b5masPDKgEuYkaiYCRzT4/JFGxbUm1immiwrqhNSipI0hggAAAAAAAAAAAAAAAAAAAAA5LzrcfFLwRmtRhFaAAUt4vgRKJ5ba/GBUic8FxXmRWvNHmB0mmAAAQ7v2wscRG2AaBgEbmY1GaQIAOyx7aCKAdPbZOZmrDwyoBLmJGomwJwzT4lGrNLkFNGcoyrHmtpdTHRC7GejCWxmtQ4QAAAAARuOfXmcY6qBQnPVN/ALgc5r6vFIGKp6EGWgAAAAAAAAcVayT4vxZmtGIAKAHjhLgwlbdzRWxP5BInLVxIoeKA6jTAAAId37ZFjiDYAwAAjdzGmamEaUdlj20RFAOjtsj4maqkMvN+YC3MSKmwqUM0+P5miN+rkFaAAb9+5BpV6lsfEusqruF9UWuGkaYdXbbwlyeguphwAAAKIDOmONFXaBoAAAAAAsrtuOMkAj7iH0py+BNXErl644v6VuGriccXuSRAxBoUBDx18l8QVt3OuHzBE3jHj8gB4rmQf/9k=);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Microsoft YaHei", "Meiryo", "Segoe UI", sans-serif;
}
h1 a,
h1 a:hover {
  color: inherit;
  text-decoration: none;
}
.ReactVirtualized__Table__row.even {
  background-color: rgba(0, 0, 0, 0.05);
}
.ReactVirtualized__Table__headerRow,
.ReactVirtualized__Table__row {
  border-top: 1px solid #dee2e6;
}
.ReactVirtualized__Table__headerRow span {
  display: block;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
.ReactVirtualized__Table__row.loading {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
}
.ReactVirtualized__Table__row.loading:nth-of-type(odd) {
  animation-delay: -0.75s;
}
.recharts-label {
  pointer-events: none;
}
.recharts-pie-label-text {
  font-weight: bold;
}
.active-player {
  color: black;
}
.active-player a {
  color: inherit;
}
.player-chart-tooltip {
  margin: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: block;
  border: 0 none;
  border-radius: 5px;
}
.player-chart-tooltip p {
  margin: 0;
}
.player-chart-tooltip .active-player {
  color: inherit;
  text-decoration: underline;
}
.player-chart-tooltip a {
  color: inherit;
}